*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-color: hsl(0, 0%, 100%);
     width: 700px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 20px;
}
.img img{
    width: 350px;
    border-radius: 10px;
}
.contentbox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* width: 350px; */
    
    
}
.perfume{
    color: grey;
    font-family: 'Monserrat';
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    letter-spacing: 6px;
    text-transform: uppercase;
}
.first{
    width: 70%;
    font-family: 'Fraunces';
    font-weight: 700;
}
.txt{
    font-size: 16px;
    color: hsl(228, 12%, 48%);
    /* width: 85%; */
}
.cost{
    font-family: 'Fraunces';
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
}
.cost h1{
    color: hsl(158, 36%, 37%);
    font-weight: 700;
}
.cost p{
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}
.btn{
    /* width: 300px; */
    align-self: center;
}
button{
    font-family: 'Monserrat';
    width: 247px;
    height: 46px;
    color: white;
    background-color: hsl(158, 36%, 37%);
    border-radius: 7px;
    
    border: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
}
button:hover{
    background-color: hsl(157, 57%, 16%);
}
@media screen and (max-width:750px) {

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:55vh;
        /* height: 60vh; */
    }
    .img img{
        content: url(./images/image-product-mobile.jpg);
        width: 100%;
    }
    .contentbox {
        /* display: flex; */
        flex-direction: column;
        justify-content: space-around;
        /* width: 100%; */
        padding-left: 40px;
    }
    
}